button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: monospace;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}


/*  Make circles that indicate the steps of the form:  */

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/*  Mark the steps that are finished and valid:  */

.step.finish {
  background-color: #321fdb;
}

.tab {
  display: none;
}

.tab h3 {
  font-size: 20px;
}

input.invalid {
  background-color: #ffdddd;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.image-radio input {
  padding: 10px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

#regForm {
  background-color: transparent;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  font-weight: bold;
  font-size: 1rem;
  line-height: normal;
}
label.radio-inline:hover{
background-color: white;
color:rebeccapurple;
}

label.radio-inline {
  width: 100%;
  max-width: 8em;
  padding: .32681em;
  display: inline-block;
  width: 100%;
  position: relative;
  border: 1px solid white;
  -webkit-transform: scale(0.9);
}

.image-radio input:checked + label {
  background-color: white;
    color: rebeccapurple;
}

.c-Icon--currentColor {
  fill: currentColor;
}

.image-radio input[type=radio] {
  display: none;
}

.list-group-item {
  text-align: left;
  padding-left: 40px;
}

input[type=text],input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.list-group-item + .list-group-item {
  border-top-width: thin !important;
}

li.list-group-item {
  margin: 10px;
  border-color: white;
  padding-left: 30px;
}